[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/Dymirt/get_next_line.git
[submodule "Libft"]
	path = Libft
	url = https://github.com/Dymirt/Libft.git
[submodule "pipex"]
	path = pipex
	url = https://github.com/Dymirt/pipex.git
